<%= render :partial => "home/pencil" %>

hi
<form action="/home/join_process" method="POST">
    ID :<input type="text" name="username">
    PW :<input type="password" name="password">
    <input type="submit" value="click">
    
</form>