<%= render :partial => "home/pencil" %>

<form action="/home/login_process" method="POST">
    ID : <input type="text" name="username">
    PW : <input type="password" name="password">
    <input type="submit" value="Login">
</form>

<a href="/home/join">Sign up</a>